	<!-- MENU -->
	
	
	
   <div class="span2">
                        <div class="well sidebar-nav">
                            <ul class="nav vav-list">
                                <li class="nav-header">
                                    Menu 
                                </li>
                                <br><br>
                                <li>
                                    <a href="@routes.Admin.index()">
                                        <i class="icon-home"></i>
                                        Home 
                                    </a>
                                </li> 
                                <br>
                                <li>
                                    <a href="@routes.Application.visudocente()">
                                    	<i class="icon-eye-open"></i>
                                    	Visualizar Docentes
                                    </a>
                                </li>  
                                <br>                               
                                <li>
                                    <a href="@routes.Application.adddocente()">
                                    	<i class="icon-edit"></i>
                                    	Cadastrar Docente
                                    </a>
                                </li> 
                                <br>
                                <li>
                                	<a href="@routes.Application.sobre()">
                                		<i class="icon-list-alt"></i>
                                		Sobre
                                	</a>
                                </li>
                                <br>
                                <br>
                                <li>
                                    <hr>
                                </li>
                                
                            
                            </ul>
                        </div>
                     </div>
	
			 <!-- MENU -->