@(formdocente: Form[docente])
@import helper._
@import helper.twitterBootstrap._

@main("FMU | Corpo Docente") {

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<div class align="center">
			<h3>Cadastro de Docente</h3>
			<p><small>Nome, Graduação e Data de Admissão são obrigatórios</small>
		</div>
	


@form(routes.Application.addNovodocente(), 'enctype -> "multipart/form-data") {
<div class="span10" align="center">
<!--	<p>
                <input type="nome" name="nome" placeholder="Nome*" value="@formdocente("nome").value">
    </p>
    	<p>
                <input type="grad" name="grad" placeholder="Graduaï¿½ï¿½o*" value="@formdocente("grad").value">
                <input type="ie_grad" name="ie_grad" placeholder="Onde realizou a Graduï¿½ï¿½o" value="@formdocente("ie_grad").value">
    </p>
   	<p>
                <input type="pgrad" name="pgrad" placeholder="Pï¿½s-Graduaï¿½ï¿½o" value="@formdocente("pgrad").value">
                <input type="ie_grad" name="ie_grad" placeholder="Onde realizou a Pï¿½s-Graduaï¿½ï¿½o" value="@formdocente("ie_grad").value">
    </p>
    <p>
                <input type="mest" name="mest" placeholder="Mestrado" value="@formdocente("mest").value">
                <input type="ie_mest" name="ie_mest" placeholder="Onde realizou o Mestrado" value="@formdocente("ie_mest").value">
    </p>
    <p>
                <input type="dout" name="dout" placeholder="Doutorado" value="@formdocente("dout").value">
                <input type="ie_dout" name="ie_dout" placeholder="Onde realizou o Doutorado" value="@formdocente("ie_dout").value">
    </p>
    <p>
                <input type="data_adm" name="data_adm" placeholder="Data de Admissï¿½o*" value="@formdocente("data_adm").value">
    </p>
 -->   
	
		@inputText(formdocente("nome"),'_label -> "Nome")
		@inputText(formdocente("grad"),'_label -> "Graduação")
		@inputText(formdocente("ie_grad"),'_label -> "Instituição de Graduação")
		@inputText(formdocente("pgrad"),'_label -> "Pós-Graduação")
		@inputText(formdocente("ie_pgrad"),'_label -> "Instituição de Pós-Graduação")
		@inputText(formdocente("mest"),'_label -> "Mestrado")
		@inputText(formdocente("ie_mest"),'_label -> "Instituição de Mestrado")
		@inputText(formdocente("dout"),'_label -> "Doutorado")
		@inputText(formdocente("ie_dout"),'_label -> "Instituiç;ão de Doutorado")
		@inputText(formdocente("ano_adm"),'_label -> "Ano de Admissão")
		
		
			
			Foto: <input type="file" name="picture"> </input>
		<button type="submit" value="enviar" class="btn btn-small btn-inverse">Enviar</button>
		<br>
		<br>
		<input type="submit" class="btn btn-danger" value="Cadastrar">
</div>
		
	}
}