@(formUser: Form[User])
@import helper._
@import helper.twitterBootstrap._
@main("FMU | Cadastro") {

<div align = "center">
	<br>
	<br>
	@form(routes.Application.addCadastro())  {
		
			@inputText(formUser("name"), '_label -> "Nome:")
			@inputText(formUser("email"), '_label -> "E-mail:")
  			@inputPassword(formUser("password"), '_label -> "Senha:")
			<br>
			<br>
			<input type="submit" class="btn btn-danger" value="Cadastrar">
			<input class="btn btn-inverse" type="reset" value="Limpar" >
	}          
          
          
</div>     
}
    