@main("FMU | Corpo Docente") {


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<div align="center">
	<h3>Corpo Docente FMU</h3>
			<span class="label label-inverse">
				<div class="span12" align="center">
					<h5>Que tal mais informações sobre os cursos oferecidos? <br>
					Muitos alunos, ao decidirem qual caminho trilhar na vida profissional, <br>
					acessam sites que apresentam qualificações para cada instituição de ensino baseada <br>
					no curso escolhido. Nós da FMU, por acreditarmos na nossa equipe e na capacidade do <br>
					nosso corpo docente, disponibilizamos a relaçao dos professores que ajudarão cada <br>
					aluno a atingirem seus objetivos, passando de 2 a 5 anos, diariamente oferencendo <br>
					todo suporte necessario. Temos certeza que após sua consulta, você escolherá a FMU <br>
					como parceira nesse novo passo que será dado em sua vida. <br>
					<h4>
						<p class="text-error">
							<strong>Aqui você pode mais!</strong>
						</p>
					</h4>
					</h5>
				</div>
			</span>
</div>

}